$darkOne: #292929;
$darkTwo: #1e1e1e;
$whiteOne: #fcfcfc;
$pinkOne: #bb86fc;

#wrapper {
  width: 100%;
  height: 800px;
  color: $whiteOne;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: $darkTwo;

    h1 {
      font-size: 48px;

      > span {
        color: $pinkOne;
      }
    }

    #headDivButton {
      display:flex;
      align-items: center;
      justify-content: center;
      button {
        width: 120px;
        height: 70px;
        margin: 10px;
        outline: none;
        background-color: $whiteOne;
        color: $whiteOne;
        background-color: transparent;
        border: 2px solid $whiteOne;
        font-size: 18px;

        &:hover{
          border: 2px solid $pinkOne;
          color: $pinkOne;
          cursor: pointer;
        }
      }
    }
  }

  #userTable {
    display: flex;
    flex-direction: column;

    #menu > ul {
      padding: 10px 0;
      margin: 0;
      font-size: 24px;
      background-color: $darkTwo;
    }

    .userDiv:nth-child(even) {
      background-color: $darkOne;
    }

    .userDiv:nth-child(odd) {
      background-color: $darkTwo;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 60px;
      font-size: 18px;

      li:nth-child(1) {
        width: 20px;
        color: $pinkOne;
      }

      li {
        width: 200px;

        > button {
          width: 90px;
          height: 40px;
          outline: none;
          background-color: $whiteOne;
          color: $whiteOne;
          background-color: transparent;
          border: 2px solid $whiteOne;
          font-size: 18px;

          &:hover{
            border: 2px solid $pinkOne;
            color: $pinkOne;
            cursor: pointer;
          }
        }
      }
    }
  }
}
